<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Functions

_Authors: Matt Brems (DC), Riley Dallas (ATX)_

---

### Lesson objectives

By the end of this lesson, you should be able to:

1. Successfully **create** and **invoke** a function
2. Understand how to use parameters in a function
3. Understand how to return a value from a function
4. Know what a lambda function is and how to create one


## Intro
---

From the pre-work (and perhaps what you've done before DSI), remember that functions:
- start with `def`, followed by the name of the function.
- take inputs (or arguments).
- return outputs.
- use `return` instead of `print`.
- are used frequently to make coding more efficient.

One of my favorite novels - Ray Bradbury's *Fahrenheit 451* - has a quote that is appropriate here: 
> "We begin by beginning, I guess."

## Activity: Basic function
---

Create a function in cell below called `greeting` that prints `"Howdy"`.

In [1]:
# Declare the function
#AKA reading a recipe
def greet():
    print("Howdy")
    print("How are you?")

In [3]:
# Invoke the function
greet()

Howdy
How are you?

## Activity: Function parameters
---

In the [Kaggle Titanic competition](https://www.kaggle.com/c/titanic/data), the names of everyone in the manifest look like this:
> Last, Title. First

Create a function called `titanic_name` that accepts 3 parameters:
- `first_name`
- `last_name`
- `title` 

And prints the full name in the format above.

In [46]:
def name(last_name,title,first_name):
    n= f'{last_name}, {title}. {first_name}'
    print(n)
    return n
    #print(last_name+', ', title+'. ', first_name)
    #return(f'{last_name}, {title}. {first_name}') #interpolation

In [47]:
def greet_by_name(name):
    print("Hi "+ name) #concatenation

In [48]:
name('John', 'Mr',"Lennon")

John, Mr. Lennon

'John, Mr. Lennon'

## Named parameters vs Ordered parameters
---

In the above example, you must order in which you add your arguments coincides with the order of the parameters in the function declaration. If you called them out of order like so:
```python
titanic_name('Doe', 'Captain', 'John')
```

Then the following would happen:

1. `'Doe'` would be assigned to `first_name`
2. `'Captain'` would be assigned to `last_name`
3. `'John'` would be assigned to `title`.

As a result, the function would print `'Captain, John. Doe'`. No bueno.

In [49]:
name('Doe','Capitan','John')

Doe, Capitan. John

'Doe, Capitan. John'

In [50]:
formatted_name=name(last_name,first_name,title)

NameError: name 'last_name' is not defined

In [32]:
formatted_name

You can get around this by referencing the parameters by name:

```python
titanic_name(last_name='Doe', title='Captain', first_name='John')
```

Notice the order is the same as our bug: `('Doe', 'Captain', 'John')`. Only now the function will work properly.

To summarize, ordering your parameters matters **unless you reference the parameters by name**.

In [25]:
name(last_name='Doe', first_name='John', title='Captain')

Doe, Captain. John

## Returning values from a function
---

Let's say we want to use the result from our `titanic_name` function elsewhere in our code. To do this, we'll set a variable like so:
```python
formatted_name = titanic_name(last_name='Doe', title='Captain', first_name='John')
```

We'd expect `formatted_name` to be `'Doe, Captain. John'`, but that's not the case. When we output `formatted_name` in a cell, we see that nothing shows up. This is because our function **prints** the name `'Doe, Captain. John'`, but nothing gets returned. 

**Remember** printing is merely for you the developer to debug your code. In order to use result from `titanic_name` elsewhere in our code, we need to explicitly return it:
```python
def titanic_name(first_name, last_name, title):
    return '{}, {}. {}'.format(last_name, title, first_name)
```

## Lambda functions
---

[Lambda functions](https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions) allow us to create an anonymous function on the fly. We'll use them extensively when we learn about `pandas` next week.

Here's a simple named function:
```python
def greeting(name):
    return 'Howdy, {}'.format(name)
```

And here is its `lambda` equivalent:
```python
lambda name: 'Howdy, {}'.format(name)
```

The primary differences between named and lambda functions are:

1. `lambda` functions don't have a name
2. `lambda` functions are written on one line
3. `lambda` functions don't require a `return`. It's implied that the `lambda` function above will return `"Howdy, NAME"`

In [51]:
def greeting(name):
    return 'Howdy, {}'.format(name)

In [53]:
#lambda functions do not have a name
#One line
#return is implided 
foo=lambda name: 'Howdy, {}'.format(name)

In [56]:
foo("John")

'Howdy, John'

In [60]:
name=lambda first_name,last_name,title: f'{last_name}, {title}. {first_name}'

In [61]:
name

## Challenge: DNA to RNA
---

If you've taken a Biology class, you know that DNA is essentially a long string comprised of 4 nucleotides:

- Cytosine (C)
- Thymine (T)
- Adenine (A)
- Guanine (G)

Example:
```python
dna = 'ACGTAAAACGTGGTGGATTTGACGTGTTTG'
```

RNA is similar to DNA with one exception: all instances of Thymine (T) are replaced with Uracil (U). Our DNA from above would look like this:
```python
rna = 'ACGUAAAACGUGGUGGAUUUGACGUGUUUG'
```

In the cell below, create a function called `dna_to_rna` that accepts a string of DNA and converts it to RNA.

In [66]:
def dna_to_rna(dna):
    dna=dna.upper()
    rna=dna.replace('T',"U")
    print(rna)
    return rna

In [68]:
dna_to_rna('ACGTAAAACGTGGTGGATTTGACGTGTTTG')

ACGUAAAACGUGGUGGAUUUGACGUGUUUG

'ACGUAAAACGUGGUGGAUUUGACGUGUUUG'

## Challenge: Hamming Distance
---

The DNA strand `'AAAA'` is similar to the strand `'AAAT'` with one exception: the 4th nucleotide is different. In other words, the two strands have a **hamming distance** of 1, where hamming distance is the number of nucleotides that differ between two strands.

In the cell below, create a function called `hamming_distance` that accepts two parameters (`dna1` and `dna2`) and calculates the hamming distance between the two strands. 

**NOTE:** You can assume the two strands will have the same length.

In [80]:
def hamming_distance(dna1, dna2):
    hd = 0
    for i in range(len(dna1)):
        if dna1[i] != dna2[i]:
            hd += 1
    return hd

In [81]:
hamming_distance('AAAA','AAAT')

1

## Challenge: Reverse Complement
---

DNA is actually double stranded. The two strands have the nicknames Watson and Crick, named after the two scientists that discovered the structure of DNA. In a double helix, the two strands are facing **opposite directions**. Moreover, the strands are complementary. 

Moreover, each nucleotide in the Watson strand is lined up with its complement on the Crick strand. When combined, each nucleotide on one strand binds with its complement on the other sort of like a zipper. 

- Each Adenine on one strand has a Thymine on the other (and vice versa)
- Each Cytosine on one strand is facing a Guanine on the other (and vice versa)

In the cell below, create a function called `reverse_complement` that accepts a string of DNA and returns its complementary strand **in reverse**.

For example: `'AAACCC'` and `'GGGTTT'` are reverse complements. `'A'` lines up with `'T'`, `'C'` lines up with `'G'` **and the complement is reversed**

In [89]:
def reverse_compliment(dna):
    compliment=''
    for nucleotide in dna:
        if nucleotide=='T':
            compliment+='A'
        elif nucleotide=='A':
            compliment+='T'
        elif nucleotide=='C':
            compliment+='G'
        elif nucleotide=='G':
            compliment+='C'
        print(compliment[::-1])
        return compliment[::-1]

In [90]:
reverse_compliment('AATTCCGG')

T

'T'

## Challenge: Find the divisors
---

From [codewars](https://www.codewars.com/kata/find-the-divisors/train/python). Create a function called `divisors` that accepts a number and returns a list of all the divisors for that number. 

For example: `divisors(12)` will return the list `[2, 3, 4, 6]`. 

**Note**: 1 doesn't count as a divisor.
**Note**: If the number doesn't have any divisors, it is prime (e.g. 13, 23, etc). In cases where the number is prime, simply return the string `'13 is prime'`.

In [102]:
def divisor(num):
    for i in range(num,num+1):
        if num%i==0:
            print(i)
        print(i)
        return num

In [103]:
divisor(12)

12
12

12

In [106]:
def divisors(num):
    divs=[]
    for i in range(2,num):
        if num%i==0:
            divs.append(i)
    if len(divs)>0:
        return divs
    else:
        return f' prime {num}'

In [108]:
divisors(12)

[2, 3, 4, 6]

In [109]:
divisors(10)

[2, 5]

In [110]:
divisors(13)

' prime 13'